<php>
	session_start();

	function set_token() {
	$_SESSION['token'] = md5(microtime(true));
	}

	if(!isset($_SESSION['token']) || $_SESSION['token']=='') {
	set_token();
	}
</php>

<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>钻石画</title>
	<link href="__IMAGE__/Home/csscss.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div id="wrap">
		<div id="logo"><img src="__IMAGE__/Home/logo.gif" alt="" width="300" height="42" /></div>

		<div><img src="__IMAGE__/Home/top.gif" alt="手工钻石画（中国）运营总部" width="300" height="283" /></div>
		<div id="tel"> <a href="#dg"><img src="__IMAGE__/Home/yrshouji_online.jpg" alt="" /></a><a href="tel:{$phone}" target="_blank"><img
				 src="__IMAGE__/Home/yrshouji_tel.jpg" alt="" /></a><br />
			轻松创业 | 轻松管理 | 轻松当老板<br />
			全国统一客服：<a href="tel:{$phone}">(点击拨打电话:{$phone})</a><br />
		</div>
		<div id="cpjs">
			<h2>手工钻石画·中国总部</h2>
			<p class="zj"><strong>国家AAAA级诚信企业，金牌信誉保证</strong></p>
			<p class="zjc"> <span class="st"></span>纯手工钻石画，无需设备，无需技术，无需经验。免费供料,简单易学，一看就会 。<span class="st">先行预付50%加工费,按月上门收货，家庭、个人均可申请合作接产。</span>先后被国家评为AAAA企业，质量信得过单位，并通过ISO9001/9002国际质量体系认证。产品主要销往韩国、新加坡、美国、德国、英国、法国、荷兰、澳大利亚等国家和地区。
				<br>
				<p class="zj"><strong>手工钻石画—— 10大优势！</strong></p>
				<p class="zjc"> <span class="st">优势①无需投资：</span>无需店铺、无需厂房、无需设备等投入，家庭个人均可。省心又省钱！<span class="st">
						优势②简单易学：</span>纯手工制作，简单易学，不受年龄、性别、学历限制。<span class="st">
						优势③暴利行业：</span>资深业内专家表示-钻石画市场属于暴利行业，国际市场空间广阔。<span class="st">
						优势④规模不限：</span>无职业者可做主业。下岗工人可以再就业，创业不离家。<span class="st">
						优势⑤上门收货：</span>总部按月到生产场地收货付款，加工户只管加工，总部上门收货。<span class="st">
						优势⑥政府扶持：</span>自主创业，全民创业，以创业带动就业是国家的重大国策。<span class="st">
						优势⑦货源稳定：</span>我们拥有庞大的销售网络，一年四季有足够的订单加工。<span class="st">
						优势⑧区域保护：</span>每个城市只招募一家加工户，保证您的资源独享利益。<span class="st">
						优势⑨管理轻松：</span>量身定制整套流程，赚取加工费无工商、税务等费用，周转资金少无风险，无论是自己动手，还是雇人加工，您都可以轻松管理。<span class="st">
						优势⑩全程指导：</span>我们的使命是从技术到生产不管遇到任何问题，全程跟踪服务。</p>
				<p><strong>携手手工钻石画总部—尊享两大特权！</strong></p>
				<p><span class="st">1.至尊服务
						我们的使命是从技术到生产不管遇到任何问题，只需您一个电话，剩下的工作都由我们来做。贴心服务，细致关怀。</span></p> <span class="st">
					2.上门收货付款：
					总部按月到生产场地收货付款，加工户只管生产，别人动手自己当老板。丝毫也不用担心产品的销路,总部上门现金收货,这就是总部给您稳赚的绝对保障!</span>
			</p>
			<div id="tel"> <a href="#dg"><img src="__IMAGE__/Home/yrshouji_online.jpg" alt="" /></a><a href="tel:{$phone}"
				 target="_blank"><img src="__IMAGE__/Home/yrshouji_tel.jpg" alt="" /></a><br />
				轻松创业 |轻松管理 | 轻松当老板<br />
				全国统一客服：<a href="tel:{$phone}">(点击拨打电话:{$phone})</a><br />
			</div>
			<h3> 手工钻石画（最新）加工订单<br />
				智慧的选择 注定改变你的命运</h3>
			<p>外发加工，联营生产；降低成本，互惠互利；健康稳定，双赢合作；与总部携手，共创辉煌！铸就中国钻石画第一品牌！<span class="st">注*总部考虑到申请合作者初次加工，总部会选择简单、基础的产品进行外发加工，相框及其他配饰无需加工，由总部后期完成，合作者可安心组织工人生产。</span></p>

			<img src="__IMAGE__/Home/bkqs1.jpg" alt="" /> </p>
			<img src="__IMAGE__/Home/bkqs5.jpg" alt="" /></p>
			<img src="__IMAGE__/Home/bkqs3.jpg" alt="" /></p>
			<img src="__IMAGE__/Home/bkqs4.jpg" alt="" /></p>
			<img src="__IMAGE__/Home/bkqs2.jpg" alt="" /></p>
			<img src="__IMAGE__/Home/bkqs6.jpg" alt="" /></p>
			<img src="__IMAGE__/Home/bkqs7.jpg" alt="" /></p>
			<div id="tel"> <a href="#dg"><img src="__IMAGE__/Home/yrshouji_online.jpg" alt="" /></a><a href="#dg"><img src="__IMAGE__/Home/yrshouji_tel.jpg"
					 alt="" /></a><br />
				轻松创业 | 轻松管理 | 轻松当老板<br />
				全国统一客服：<a href="tel:{$phone}">(点击拨打电话:{$phone})</a><br />
			</div>
			<h2>不便来公司合作方式</h2>
			<!--p><img src="__IMAGE__/Home/cp18.jpg" alt="" /></p-->
			<p class="zjc">依照《中华人民共和国合同法》保证合作双方在公平、公正、公信、公开的基础上，总部在全国实行统一合作条件及标准。<span class="st">如果因为各种原因不方便来公司考察，可异地直接接产合作。</span>
			</p>
			<p class="zjc">为了更方便外地合作者合作，总部在发货同时，标准配备：一式两份（加盖红色公章）签约合同书、VCD教学光盘、编号图纸。模具化生产，简单易学，一看就会。另发原料30－1000件，产品一律由总部统一现金收购。首次申请合作需交纳合同保证金2800元（注*此款在产品交货时一律退还，后期不再有任何费用）<span
				 class="st">总部长期免费为您发货，并预付您下批产品加工费的50%以利于加工户扩大经营、安心生产，让您赢在起点。</span> </p>
			<p class="zjc">注：首批发货30件，等产品上交后，从 第二批开始走入正轨，长期发货每批1000件。也可根据加工方的实际情况自行计划取货数量，工人多可以多取货，工人少可以少取货，最少30件即可发货。</p>
			<p class="zjc"><span class="st">例如：
					接产“生意兴隆·钻石画”按每月发货量500件计算，加工费共计119000元，总部将提前预付您59500元的加工费（即下批总加工费的50%）当日银行汇款到您名下，余款收货时清。</span>
			</p>
			</p>
			<p class="zjc"><span class="st">为什么暂收加工户的保证金？何时退还？</span> </p>
			<p class="zjc">中国地域辽阔，总部在诚征加工户的过程中，事实上不能对每个申请合作的投资者进行商业信誉的独立调查和评估。在公正、公平、公开的合作基础上，为了双方的合法权益不受到侵犯并且保证加工产品必须返还总部，确保双方健康、稳定、互惠、互利、携手发展，总部将采取暂收合同保证金的合作方式，首批产品生产完即无息退还。</p>

			<div id="tel"> <a href="#dg"><img src="__IMAGE__/Home/yrshouji_online.jpg" alt="" /></a><a href="tel:4006962191"><img
					 src="__IMAGE__/Home/yrshouji_tel.jpg" alt="" /></a><br />
				轻松创业 | 轻松管理 | 轻松当老板<br />
				全国统一客服：<a href="tel:{$phone}">(点击拨打电话:{$phone})</a><br />
			</div>
			<h3>不便来公司合作者常见问题？</h3>
			<p><span class="st">本企业珍视商誉、至诚至信。</span>
				<p>
					<p><span class="st">让合作者100%满意，与您一起成就辉煌。</span></p>
					<p><strong>1、问：我不方便去公司，合同如何签订？</strong></p>
					<p>答：总部发货同时，会带有一式两份（加盖红色公章）合同书，自己保留一份，另一份随货寄回总部存档备案。和您亲自来到总部办理接产手续完全一样，免去来往路途劳累以及不必要的差旅费用。</p>
					<p><strong>2、问：我们相隔千里，总部如何发货？</strong></p>
					<p>答：通过快递公司或邮局EMS发货2-3天左右即到（往返运输费用均由我公司承担）。</p>
					<p><strong>3、问：如果在运输过程中有损坏怎么办？</strong></p>
					<p>答：专用运输包装、易运输，不易损坏。</p>
					<p><strong>4、问：初次合作，刚开始做坏了怎么办？</strong></p>
					<p>答：手工钻石画全部为纯手工点钻（粘贴），拿到货后只需按照画面编号粘贴对应钻石即可。</p>
					<p><strong>5、问：首批产品交货日期，有时间规定吗？</strong></p>
					<p>答：合作者首次生产在制作过程中没有经验，首批产品尽量在1-2个月内完成，如有特殊原因需延期，致电总部延期交货。不过后期会有时间限制，由加工户根据自己的加工能力而定。</p>
					<p><strong>6、问：生产出什么样的标准为合格产品？</strong></p>
					<p>答：按照画面粘贴对应钻石，外观干净、整齐、粘贴牢固即可。纯模具化生产、完整的工艺流程让您明明白白生产，质量关自己把握。</p>
					<p><strong>7、问：把货发过来我们不会加工怎么办？</strong></p>
					<p>答：总部发货时，随货会带有VCD教学光盘；模具化生产，简单易学,一看就会。您只是在生产过程中快与慢而己；这点您可以绝对放心。</p>
					<p><strong>8、问：产品完成后，如何收货？</strong></p>
					<p>答：首批产品完成，可直接发货到公司，货到当即付款；运费由公司承担。也可通知公司上门收货。</p>
					<p><strong>9、问：首批产品完成后，从第二批发货开始，为何要先预付50%—80%加工费？</strong></p>
					<p>答：预付款是外发加工行业合同法规定。先行预付50%加工费的政策是为了打消合作者的顾虑，以利于扩大经营、安心生产。让您赢在起点。</p>
					<p><strong>10、问：每次发货来回时间这么长，我们还要等货到再生产吗？</strong></p>
					<p>答：合作走入正轨，合作者每次不用把所有的产品都完成之后再上交，可以预留半个月的货量。以便能保证正常生产。</p>

					<div id="tel"> <a href="#dg"><img src="__IMAGE__/Home/yrshouji_online.jpg" alt="" /></a><a href="#dg"><img src="__IMAGE__/Home/yrshouji_tel.jpg"
							 alt="" /></a><br />
						轻松创业 | 轻松管理 | 轻松当老板<br />
						全国统一客服：<a href="tel:{$phone}">(点击拨打电话:{$phone})</a><br />
					</div>
					</li>
					</ul>

		</div>
		<div>
			<h2 id="jfal">-- 手工钻石画加工视频 --</h2>
			<p align="center">
				<iframe height=240 width=100% src='http://player.youku.com/embed/XMjUxMjk1NzY4NA==' frameborder=0'allowfullscreen'></iframe>
			</p>

			<!--h2 id="jfal">-- 成功案例 --</h2>
          <p style="text-align:center;"><strong>加工手工钻石画，月赚7320元</strong></p>
		  <p style="text-align:center; background:#efefef;">张岚 25岁 全职妈妈</p>
          <p style="text-align:center;"><img src="__IMAGE__/Home/1al.jpg" alt="" width="165" height="167" />
          <p >创业故事：我是一个家庭主妇，看见这个钻石画手工活，准备拿回来试试。没想到第3天就收到了快递来的合同书、样品、光盘、钻石画原料，还有点钻笔和镊子。刚开始慢，后来速度越来越快，一个月下来也能挣6、7千块钱。</p>
          <p style="text-align:left;text-indent:24px;"></p>
          <p style="text-align:center;"><strong>夫妻加工，月获利9500元</strong></p>
		  <p style="text-align:center; background:#efefef;">钱海平 农民工</p>
          <p style="text-align:center;"><img src="__IMAGE__/Home/2.jpg" alt="" />
          <p >创业故事：一个偶然的机会，看见了这个钻石画加工活。决心试一试。这一试，竟让我月收入近1万。现在我和老婆都在家里做钻石画！现在我们又有了一个新的想法：发动附近的闲散妇女一起做，我赚取差价，这样可以挣得更多。 </p>
          <p style="text-align:left; text-indent:24px;"></p>
            <p style="text-align:center;"><strong>个人加工，月赚5580元!</strong></p>
		    <p style="text-align:center; background:#efefef;">王红梅 21岁 打工妹</p>
            <p style="text-align:center;"><img src="__IMAGE__/Home/3.jpg" alt="" />
            <p >创业故事：当看见这个钻石画加工活的时候，感觉就像专门为我准备的一样：时间自己安排，免费提供原料，上门回收产品，操作简单·····所有的一切都很符合我的要求。现在，一个月下来，我也能轻轻松松赚5、6千元的手工费</p>
          <p style="text-align:left;text-indent:24px;"></p-->
		</div>
		<div id="tel"> <a href="#dg"><img src="__IMAGE__/Home/yrshouji_online.jpg" alt="" /></a><a href="#dg"><img src="__IMAGE__/Home/yrshouji_tel.jpg"
				 alt="" /></a><br />
			轻松创业| 轻松管理 | 轻松当老板<br />
			全国统一客服：<a href="tel:{$phone}">(点击拨打电话:{$phone})</a><br />
		</div>


		<div>
			<h2 id="dg">-- 在线留言 --</h2>
			<p style="background:#EFEFEF; padding:5px;">填写您的姓名、手机号码、想咨询的问题，我们会及时和您联系！<span class="st">（声明：您填写的个人信息我们会进行保密措施不会泄露，绝对安全放心）</span><br />
				<strong>1.在线提交留言;</strong><br />
				<strong>2.业务经理24小时内与您联系;</strong><br />
				<strong>3.合作成功。</strong></p>




			<script language="javascript">
				function checkform(theform){
      if(document.msg.bdname.value==""){
      alert("请填写您的姓名!");
      msg.bdname.focus();
      return false;
  }
      if(document.msg.bdmob.value==""){
      alert("请填写您的手机号码!");
      msg.bdmob.focus();
      return false;
  }
    if(document.msg.bdmob.value.length!=11)
  {
      alert("请正确填写您的手机号码!");
      msg.bdmob.focus();
      return false;
  }


}
</script>



			<form action="/add" enctype="multipart/form-data" method="post" id="msg" onsubmit="return checkform(this)" name="msg">
				<!-- <p class="otit">选择咨询类别：<span class="ops"></span></p>
				<p><label><input type='radio' name='goodsname' value='A我要申请个人加工合作'> <span class="ops">A我要申请个人加工合作</span></label>
				</p>
				<p><label><input type='radio' name='goodsname' value='B我要申请家庭办厂合作' checked> <span class="ops">B我要申请家庭办厂合作</span></label>
				</p>
				<p><label><input type='radio' name='goodsname' value='C我要申请开办分厂合作'> <span class="ops">C我要申请开办分厂合作</span></label>
				</p>
				<p><label><input type='radio' name='goodsname' value='D基本感兴趣，进一步了解合作流程'> <span class="ops">D基本感兴趣，进一步了解合作流程</span></label>
				</p> -->
				<p class="otit">联系信息：<span class="ops">(*必填项)</span></p>
				<p>您的姓名(*)：<input type="text" name="name" id="bdname" value="" class="mobileinput" /> </p>
				<p>手机号码(*)：<input type="text" name='mobile' id='bdmob' value='' class="mobileinput" /></p>
				<input name="ipip" value="" type="hidden" id="ipip" style="width:250px" class="intxt">
				<input type='hidden' name='shijan' id='shijan' placeholder="">
				<input type="hidden" name="token" value="<php> echo $_SESSION['token']; </php>" />
				<input type="hidden" name="keyword" value="<php> echo $_COOKIE['keyword']; </php>" />
				<input type="hidden" name="plan" value="<php> echo $_COOKIE['plan']; </php>" />
				<input type="hidden" name="unit" value="<php> echo $_COOKIE['unit']; </php>" />
				<script type="text/javascript">
					window.onload = function () {
						var nowDate = new Date();
						var str = nowDate.getFullYear() + "-" + (nowDate.getMonth() + 1) + "-" + nowDate.getDate() +
							" " + nowDate.getHours() + ":" + nowDate.getMinutes() + ":" + nowDate.getSeconds();
						document.getElementById("shijan").value = str;
					}
				</script>

				<p style="text-align:center;">

					<input name="bdsubmit" type="submit" value="点击提交留言" style="padding:10px; font-weight:bold; width:200px; height:50px; font-size:18px;" />
				</p>
			</form>






			<div id="demo" class="order_smg"></div>
			<script>
				var marquee = new Array("<p>[最新留言]：189****9954在1分钟前申请了加工名额</p>","<p>[最新留言]：138****8576在1分钟前申请了办厂的名额</p>","<p>[最新留言]：156****6310在4分钟前申请了加工名额</p>","<p>[最新留言]：187****2741在8分钟前申请了办厂的名额</p>","<p>[最新留言]：147****3417在9分钟前申请了总代理名额</p>");

var marqeeI = 0;
var marqueeII = 1;
function marqueeL(){

   if(marqeeI>(marquee.length-1))
   marqeeI = 0;
   if(marqueeII>(marquee.length-1))
   marqeeI = 0;
   marqueeII = marqeeI +1;
   var marHTML = marquee[marqeeI]+marquee[marqueeII];
   document.getElementById("demo").innerHTML = marHTML;
   marqeeI +=1;
   marqueeII +=1;
}
window.setInterval("marqueeL()", 2000); 
</script>












		</div>
		<p style="">纯手工粘贴画，扩大出口，面向全国招商。外发加工，联营生产；降低成本，互惠互利；健康稳定，双赢合作；与总部携手，共创辉煌！</p>
	</div>


	<p class="STYLE2" style="color:#999999">———国家AAAAA级信誉企业集团———</p>

	<p class="STYLE2" style="color: #999999">钻石画</p>

	<p class="STYLE2" style="color: #999999"><a href="tel:{$phone}">懒得打字？点击打电话咨询：{$phone}</a></p>
	<p class="STYLE2" style="color: #999999;font-size:8px">北京网易开发有限公司 版权所有<br><br><br><br></p>










	<div class="m13724_footerwrap">



		<a href="#dg" class="msg">
			<i></i>
			<center style="line-height:12px;">在线咨询</center>
		</a>



		<!--a href="sms:{$phone}" class="msg">
      <i></i>
      <center style="line-height:12px;">短信咨询</center></a-->



		<a href="tel:{$phone}" class="tel">
			<i></i>
			<center style="line-height:12px;">电话咨询</center>
		</a>
	</div>
	</div>
	</div>
	</div>
	<style type="text/css">
		#InviteWindow {
			display: none;
		}

		.lim_float_icon {
			display: none;
		}
	</style>
</body>
{$code}

</html>